.main-teacher_profile {
	background-color: #e3e8ec;
}

.mainbg {
	background-color: #e3e8ec;
	padding-top: 15px;
	padding-bottom: 15px;
}

.background {
	background-color: #e3e8ec;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 4px;
	margin-right: 25px;
	margin-left: 145px;
}

.background:before {
    content:"\A";
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #e3e8ec transparent transparent;
    position: absolute;
    left: 145px;
    margin-top: 20px;
}

.block {
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
}

.warning {
	color: #e74c3c;
}

.stats {
	font-size: 40px;
}

.c_blue {
	border-radius: 6px;
    background-color: #2ab6d9;
    padding: 20px;
    color: white;
}

.c_red {
	border-radius: 6px;
    background-color: #df6b78;
    padding: 20px;
    color: white;
}

.c_green {
	border-radius: 6px;
    background-color: #67c797;
    padding: 20px;
    color: white;
}

/* TITLES */

.title_h2 {
	text-align: center;
	margin-top: 0;
	margin-bottom: 15px;
}

.title_h3 {
	font-size: 14px;
	margin-top: 5px !important;
	font-style: italic;
}

.pad15 {
	padding: 15px;
}

.sepa {
	margin-top: 20px;
}

/* PROFILE PICTURE */

.profile_picture {
	border: 8px solid #e74c3c;
  margin-left: 20px; 
  max-width: 100%;
  max-height: 200px;
}

.img-lesson {
	width: 100%;
	max-width: 135px;
}

.block-lesson {
	margin-top: 15px;
	text-align: center;
	position: relative;
}

.block-lesson:hover {
  cursor:pointer;
}

.text-lesson {
	font-size: 19px;
}

.activity_picture
{
	max-width: 100%;
    height: 70px;
}

.video {
	width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 20px;
	border: 10px solid #f19d94;
	background: url(../images/video.png) center center no-repeat #e74c3c;
	float: left;
}

.pdf {
	width: 90px;
    height: 90px;
    border-radius: 50px;
    margin-left: 20px;
	border: 10px solid #f19d94;
	background: url(../images/pdf.png) center center no-repeat #e74c3c;
	float: left;
}

.commentaire {
	width: 90px;
    height: 90px;
    margin-left: 20px;
    border-radius: 50px;
	border: 10px solid #f19d94;
	background: url(../images/comment.png) center center no-repeat #e74c3c;
	float: left;
}

@media (max-width: 450px) {

  .background {
  background-color: #e3e8ec;
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 4px;
  margin-right: 25px;
  margin-left: 20px;
}

.background:before {
    content:"\A";
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #e3e8ec transparent transparent;
    position: absolute;
    left: 20px;
    margin-top: 20px;
}

  .video {
    display: none;
  }

  .pdf {
      display: none;
  }

  .commentaire {
    display: none;
  }
}

.h450 {
	height: 450px;
}

.ft17 {
	font-size: 17px !important;
}

/* SCRIPT TABLEAU */
table {
    border-collapse: collapse;
    width: 100%;
    background: #fff;
}
.table > thead > tr > th,
.table > tbody > tr > td {
	border: none;
}
td, th {
    padding: 0.75em 1.5em;
    text-align: left;
    color: #7c8d87;
}
	td.err {
		background-color: #e992b9;
		color: #fff;
		font-size: 0.75em;
		text-align: center;
		line-height: 1;
	}
th {
    background-color: #e74c3c;
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}
tbody th {
	background-color: #2ea879;
}
tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out;
}
tbody tr:hover {
    background-color: rgba(231,76,60,.3);
}
table tr.success .glyphicon { color: green; }
table tr.info .glyphicon { color: dodgerblue; }
table tr.warning .glyphicon { color: orange; }
table tr.danger .glyphicon { color: red; }

/* For appearance */
.sticky-wrap {
	overflow-x: auto;
	overflow-y: hidden;
	margin: 3em 0;
	width: 100%;
}
.sticky-wrap .sticky-thead,
.sticky-wrap .sticky-col,
.sticky-wrap .sticky-intersect {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	transition: all .125s ease-in-out;
	z-index: 50;
	width: auto; /* Prevent table from stretching to full size */
}
	.sticky-wrap .sticky-thead {
		box-shadow: 0 0.25em 0.1em -0.1em rgba(0,0,0,.125);
		z-index: 100;
		width: 100%; /* Force stretch */
	}
	.sticky-wrap .sticky-intersect {
		opacity: 1;
		z-index: 150;

	}
		.sticky-wrap .sticky-intersect th {
			background-color: #666;
			color: #eee;
		}
.sticky-wrap td,
.sticky-wrap th {
	box-sizing: border-box;
}

/* Not needed for sticky header/column functionality */
td.user-name {
	text-transform: capitalize;
}
.sticky-wrap.overflow-y {
	overflow-y: auto;
	max-height: 50vh;
}
