<div class="main">
	<div class="page-block">
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-md-6">
				<a ui-sref="graphs.show({ id: graph.id })" class="btn btn-info" ng-if="accessRules.includes('graphs.show')">Voir le graphique</a>
				<a ui-sref="graphs.delete({ id: graph.id })" class="btn btn-danger" ng-if="accessRules.includes('graphs.destroy')">Supprimer le graphique</a>
			</div>
			<div class="col-md-6 text-right">
				<a ui-sref="graphs.index">Voir la liste des graphiques <span class="glyphicon glyphicon-arrow-right"></span></a>
			</div>
		</div>

		<div class="alert alert-success" ng-show="alerts.success.show === true">{{ alerts.success.text }}</div>
		<div class="alert alert-danger" ng-show="alerts.danger.show === true">{{ alerts.danger.text }}</div>

		<form>
			<div class="form-group">
				<label for="criterion_id">Critère affiché en ordonnée</label>
				<select name="criterion_id" id="criterion_id" ng-model="graph.criterion_id" class="form-control" required="required">
					<option value="{{ criterion.id }}" ng-selected="criterion.id == graph.criterion_id" ng-repeat="criterion in criteria">{{ criterion.name }}</option>
				</select>
			</div>

			<div class="form-group">
				<label for="type">Type de graphique</label>
				<select name="type" id="type" class="form-control" ng-model="graph.type" required="required">
					<option value="{{ key }}" ng-selected="key == graph.type" ng-repeat="(key, type) in types">{{ type }}</option>
				</select>
			</div>

			<div class="form-group">
				<label for="days_range">Période d'affichage des valeurs</label>
				<input type="number" name="days_range" id="days_range" ng-model="graph.days_range" placeholder="Période d'affichage des valeurs (en jours)" class="form-control" required="required">
			</div>

			<button ng-click="editGraph()" class="btn btn-danger">Modifier le graphique</button>
		</form>
		<br />
		<div class="alert alert-success" ng-show="alerts.success.show === true">{{ alerts.success.text }}</div>
		<div class="alert alert-danger" ng-show="alerts.danger.show === true">{{ alerts.danger.text }}</div>
	</div>
</div>
