<div class="main">
	<div class="page-block">
		<div class="row">
			<div class="col-md-6 col-md-offset-6 text-right">
				<a ui-sref="groups.create" class="btn btn-danger" ng-if="accessRules.includes('groups.create')" style="margin-bottom: 15px;">Ajouter un groupe</a>
			</div>
		</div>

		<table class="table">
			<thead>
				<tr>
					<th>#</th>
					<th>Nom</th>
					<th>Description</th>
					<th>Voir</th>
					<th ng-if="accessRules.includes('groups.edit')">Modifier</th>
					<th ng-if="accessRules.includes('groups.destroy')">Supprimer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="group in groups track by group.id">
					<td>{{ group.id }}</td>
					<td>{{ group.name }}</td>
					<td>{{ group.description }}</td>
					<td><a ui-sref="groups.show({ id: group.id })">Voir</a></td>
					<td ng-if="accessRules.includes('groups.edit')">
						<a ui-sref="groups.edit({ id: group.id })" ng-if="group.editable">Modifier</a>
						{{ !group.editable ? 'Non modifiable' : '' }}
					</td>
					<td ng-if="accessRules.includes('groups.destroy')">
						<a ui-sref="groups.delete({ id: group.id })" ng-if="group.deletable">Supprimer</a>
						{{ !group.deletable ? 'Non supprimable' : '' }}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
