<div class="main">
	<div class="page-block">
		<div class="row" style="margin-bottom: 15px;">
			<div class="col-md-6">
				<a ui-sref="groups.edit({ id: group.id })" class="btn btn-info" ng-if="accessRules.includes('groups.update') && group.editable">Modifier le groupe</a>
				<a ui-sref="groups.delete({ id: group.id })" class="btn btn-danger" ng-if="accessRules.includes('groups.destroy') && group.deletable">Supprimer le groupe</a>
			</div>
			<div class="col-md-6 text-right">
				<a ui-sref="groups.index" ng-if="accessRules.includes('groups.index')">Voir la liste des groupes <span class="glyphicon glyphicon-arrow-right"></span></a>
			</div>
		</div>

		<dl class="spaced">
			<dt>Nom</dt>
			<dd>{{ group.name }}</dd>

			<dt>Description</dt>
			<dd>{{ group.description }}</dd>

			<dt>Droits d'accès</dt>
			<dd>
				<div class="row">
					<div class="col-md-2 col-sm-4" ng-repeat="accessRule in group.access_rules | orderBy: 'accessRule.route'">
						<div class="checkbox" style="margin: 0;">
							<label>
								<input type="checkbox" checked="checked" disabled="disabled"> {{ accessRule.name }}
							</label>
						</div>
					</div>
				</div>
			</dd>

			<dt>Steps</dt>
			<dd>
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>Nom</th>
							<th>Description</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="step in process.steps">
							<td>{{ step.name }}</td>
							<td>{{ step.description }}</td>
						</tr>
						<tr ng-if="process.steps.length == 0">
							<td colspan="5" class="text-center">Le processus ne comporte aucun step</td>
						</tr>
					</tbody>
				</table>
			</dd>
		</dl>

	</div>
</div>
