<div class="main">
	<!-- Main row for the page -->
	<div class="row">
		<!-- Left column -->
		<div class="col-md-6" style="padding-right: 7.5px;">

			<!-- User information -->
			<div class="block">
				<div class="row">
					<div class="col-md-5">
						<img src="{{ config.apiUrl + profile.avatar }}" class="img-circle img-profile"><br>
					</div>
					<div class="col-md-7">
						<h2 class="text-left">{{profile.firstname}} <span class="uppercase">{{profile.lastname}}</span></h2>
						<dl>
							<dt>Groupe</dt>
							<dd>{{ profile.group.description }}</dd>

							<div ng-if="profile.student_class !== null">
								<dt>Classe</dt>
								<dd>{{ profile.student_class.name }}</dd>
							</div>

							<dt>Email</dt>
							<dd>{{ profile.email }}</dd>
						</dl>
					</div>
				</div>
			</div>

			<!-- Daily Planning -->
			<div class="block" ng-if="accessRules.includes('lessons.self.index')">
				<h2>Evènements du jour</h2>
				<table class="table">
					<thead>
					<tr>
						<th>Date</th>
						<th>Heure</th>
						<th>Classe</th>
						<th>Salle</th>
					</tr>
					</thead>
					<tbody>
						<tr><td class="user-date">20/02/2016</td><td class="user-hours">De 8h à 10h</td><td class="user-classroom">TS 5</td><td class="user-room">A305</td></tr>
						<tr><td class="user-date">20/02/2016</td><td class="user-hours">De 11h à 12h</td><td class="user-classroom">1èreS 3</td><td class="user-room">B206</td></tr>
						<tr><td class="user-date">20/02/2016</td><td class="user-hours">De 14h à 15h</td><td class="user-classroom">2nd 4</td><td class="user-room">B301</td></tr>
						<tr><td class="user-date">20/02/2016</td><td class="user-hours">De 15h à 17h</td><td class="user-classroom">TES 3</td><td class="user-room">D105</td></tr>
						<tr><td class="user-date">20/02/2016</td><td class="user-hours">De 17h à 18h</td><td class="user-classroom">1èreL 2</td><td class="user-room">A305</td></tr>
						<tr><td class="user-date">21/02/2016</td><td class="user-hours">De 10h à 12h</td><td class="user-classroom">TS 5</td><td class="user-room">A305</td></tr>
						<tr><td class="user-date">21/02/2016</td><td class="user-hours">De 15h à 16h</td><td class="user-classroom">TES 3</td><td class="user-room">B206</td></tr>
					</tbody>
				</table>
			</div>

			<!-- Homeworks -->
			<div class="block" ng-if="accessRules.includes('users.profile.homeworks')">
				<h2>Devoirs</h2>
				<div ng-controller="HomeworkController">
					<table class="table">
						<thead>
							<tr>
								<th>#</th>
								<th>Date</th>
								<th>Matière</th>
								<th>Description</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="item in items">
								<td>{{item.id}}</td>
								<td>{{item.Date}}</td>
								<td>{{item.Matiere}}</td>
								<td>{{item.Exercices}}</td>
							</tr>
							<tr ng-if="items.length == 0">
								<td colspan="4" class="text-center">Aucun devoir enregistré</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

		<!-- Right column -->
		<div class="col-md-6" style="padding-left: 7.5px;">

			<!-- Alerts -->
			<div class="block" ng-if="accessRules.includes('notifications.self.index')">
				<h2>Alertes</h2>

				<div ng-controller="AlertController">
					<div class="row">
						<div class="col-md-12">
							<table class="table">
								<thead>
									<tr>
										<th>#</th>
										<th>Type</th>
										<th>Message</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="item in pagedItems[currentPage]"
									    ng-class="{ success : item.Type == 'ok',
													danger : item.Type == 'remove',
													warning : item.Type == 'warning',
													info : item.Type == 'info'}">
										<td>{{item.id}}</td>
										<td class="text-center"><span class="glyphicon glyphicon-{{item.Type}}-sign"></span></td>
										<td>{{item.Message}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12 text-right">
							<ul class="pagination" style="margin: 15px 0 0 0;">
								<li ng-class="{disabled: currentPage == 0}">
									<a href ng-click="prevPage()">« Prev</a>
								</li>
								<li ng-repeat="n in range(pagedItems.length, currentPage, currentPage + gap) "
								    ng-class="{active: n == currentPage}"
								    ng-click="setPage()">
									<a href ng-bind="n + 1">1</a>
								</li>
								<li ng-class="{disabled: (currentPage) == pagedItems.length - 1}">
									<a href ng-click="nextPage()">›</a>
								</li>
								<li ng-class="{disabled: (currentPage) == pagedItems.length - 1}" ng-show="pagedItems.length > 5" ng-click="setPage(pagedItems.length-1)">
									<a href>»</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<!-- Marks -->
			<div class="block" ng-if="accessRules.includes('marks.self.index')">
				<h2>Notes</h2>
				<div ng-controller="MarkController">
					<table class="table">
						<thead>
						<tr>
							<th>#</th>
							<th>Date</th>
							<th>Matière</th>
							<th>Note</th>
							<th>Commentaire</th>
						</tr>
						</thead>
						<tbody>
						<tr ng-repeat="item in items">
							<td>{{item.id}}</td>
							<td>{{item.Date}}</td>
							<td>{{item.Matiere}}</td>
							<td>{{item.Note}}</td>
							<td>{{item.Commentaire}}</td>
						</tr>
						<tr ng-if="items.length == 0">
							<td colspan="5" class="text-center">Aucune note enregistrée</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
