.options-list .option-block {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer; }
  .options-list .option-block img {
    max-width: 100%; }
  .options-list .option-block .title {
    display: inline-block;
    margin-top: 5px;
    font-weight: bold; }
  .options-list .option-block.inactive {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }

.panel-evaluation-setting {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #edecec;
  color: #333333; }
  .panel-evaluation-setting > .panel-heading {
    border-radius: 0;
    background: #282828;
    color: #ffffff;
    border-bottom: 1px solid #1f1f1f; }

.course-selection {
  text-align: left; }
  .course-selection .option-block {
    background: #282828;
    color: #ffffff;
    text-align: left;
    padding: 10px;
    position: relative; }
    .course-selection .option-block.active:before {
      font-family: 'Glyphicons Halflings';
      font-size: 2em;
      position: absolute;
      top: calc(50% - 0.7em);
      right: 15px;
      color: #27ae60;
      content: "\e084"; }
    .course-selection .option-block.active:after {
      content: "";
      width: 5px;
      position: absolute;
      top: 0;
      right: 5px;
      bottom: 0;
      background-color: #27ae60; }
  .course-selection dl {
    margin: 0; }
  .course-selection dd {
    padding-left: 10px; }

.fsslider {
  position: relative;
  min-width: 150px;
  height: 24px;
  display: inline-block;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #000;
  text-align: center;
  line-height: 24px;
  font-size: 11px;
  font-family: "Lucida Grande", "Trebuchet MS", sans-serif; }
  .fsslider > * {
    position: absolute;
    top: 50%;
    cursor: pointer; }
  .fsslider > .fsfull-value, .fsslider > .fssel-value {
    margin-top: -2px;
    height: 4px;
    left: 0;
    right: 0; }
  .fsslider > .fsfull-value {
    width: 100%;
    background: #d8d8d8; }
  .fsslider > .fssel-value {
    background: #c0392b;
    height: 8px;
    margin-top: -4px;
    right: 50%; }
  .fsslider > .fssel-left, .fsslider > .fssel-right, .fsslider > .fscaret {
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    height: 100%;
    min-width: 30px;
    top: 0;
    padding-left: 5px;
    padding-right: 5px; }
  .fsslider.fsdisabled {
    color: #c8c8c8; }
    .fsslider.fsdisabled > .fssel-value {
      background: #c8c8c8; }

/*
.img-part.inactive {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.control-part.inactive {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.img-part {
	width: 160px;
	max-width: 100%
}

.img-block {
	text-align: center;
}

.text-lesson {
	font-size: 19px;
	position: relative;
}

.control-part {
	width: 160px;
	margin-left: 15px;
	margin-bottom: 15px;
}

.img-div {
	margin-top: 30px;
	text-align: left;
	position: relative;
}

.calen {
	position: relative;
}

.form-group {
	position: relative;
}

.btn-red {
	background: #e74c3c;
	color: #fff;
	border-color: #e74c3c;
}

.fsslider {
	position: relative;
	min-width: 150px;
	height: 24px;
	display: inline-block;
	width: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: #000;
}

.fsslider {
	text-align: center;
	line-height: 24px;
	font-size: 11px;
	font-family: "Lucida Grande", "Trebuchet MS", sans-serif;
}

.fsslider > * {
	position: absolute;
	top: 50%;
	cursor: pointer;
}

.fsslider > .fsfull-value, .fsslider > .fssel-value {
	margin-top: -1px;
	height: 2px;
	left: 0;
	right: 0;
}

.fsslider > .fsfull-value {
	width: 100%;
	background: #d8d8d8;
}

.fsslider > .fssel-left, .fsslider > .fssel-right, .fsslider > .fscaret {
	background: #fff;
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
	height: 100%;
	min-width: 30px;
	top: 0;
	padding-left: 5px;
	padding-right: 5px;
}

.fsslider > .fssel-value {
	background: #c0392b;
	height: 4px;
	margin-top: -2px;
	right: 50%;
}

.fsslider.fsdisabled {
	color: #c8c8c8;
}

.fsslider.fsdisabled > .fssel-value {
	background: #c8c8c8;
}
*/

/*# sourceMappingURL=evaluation.css.map */
