.table-display {
  display: table;
  width: 100%; }
  .table-display .table-cell-display {
    display: table-cell;
    vertical-align: middle;
    height: auto;
    max-height: 100%;
    float: none; }

.img-profile {
  border: none;
  max-width: 100%;
  margin-left: 0; }

.linked-data .data-title {
  text-align: right;
  display: block; }
.linked-data .data-list {
  margin-bottom: 15px; }
  .linked-data .data-list .list-group-item {
    background: #f1f1f1; }
  .linked-data .data-list a {
    text-decoration: none;
    cursor: pointer; }
  .linked-data .data-list .data-icon {
    margin-right: 10px;
    text-decoration: none; }
  .linked-data .data-list .pull-right .data-icon {
    margin-right: 0;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #c3c3c3; }
  .linked-data .data-list:last-of-type {
    margin-bottom: 0; }

.breadcrumb-container {
  padding-left: 15px; }
  .breadcrumb-container .breadcrumb {
    height: 60px;
    width: 100%;
    border-radius: 0;
    background: #282828;
    color: #ffffff;
    font-size: 1.5em;
    line-height: 60px;
    padding: 0;
    margin-bottom: 15px; }
    .breadcrumb-container .breadcrumb li {
      padding: 0;
      min-width: 150px;
      text-align: center;
      position: relative;
      margin-right: 60px;
      padding: 0 10px;
      cursor: pointer; }
      .breadcrumb-container .breadcrumb li:before {
        content: "" !important;
        position: absolute;
        top: 0;
        left: -60px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 60px 60px;
        border-color: transparent; }
      .breadcrumb-container .breadcrumb li:after {
        content: "";
        position: absolute;
        top: 0;
        right: -60px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 60px 60px 0 0;
        border-color: transparent; }
      .breadcrumb-container .breadcrumb li.legend {
        background: #c0392b;
        z-index: 500;
        padding-left: 15px;
        cursor: default; }
        .breadcrumb-container .breadcrumb li.legend:before {
          display: none; }
        .breadcrumb-container .breadcrumb li.legend:after {
          border-color: #c0392b transparent transparent transparent; }
      .breadcrumb-container .breadcrumb li.active {
        background: #1f1f1f;
        z-index: 300;
        color: inherit; }
        .breadcrumb-container .breadcrumb li.active:before {
          border-color: transparent transparent #1f1f1f transparent; }
        .breadcrumb-container .breadcrumb li.active:after {
          border-color: #1f1f1f transparent transparent transparent; }

.img-profile-list .block-img-profile img, .img-profile-list .block-img-profile span {
  cursor: pointer; }
.img-profile-list .block-img-profile .align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle; }
.img-profile-list .block-img-profile .evaluation-absent,
.img-profile-list .block-img-profile .evaluation-delay {
  font-size: 7em;
  padding-top: 0.3em;
  z-index: 100;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  text-shadow: 0px 2px 0px black; }
.img-profile-list .block-img-profile .evaluation-absent {
  color: #c0392b; }
.img-profile-list .block-img-profile .evaluation-delay {
  color: #ffffff; }
.img-profile-list .block-img-profile .evaluation-loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 15px;
  background: rgba(255, 255, 255, 0.7);
  z-index: 300;
  text-align: center;
  border-radius: 4px; }
  .img-profile-list .block-img-profile .evaluation-loading img {
    vertical-align: middle; }
.img-profile-list .block-img-profile .criteria-container {
  position: absolute;
  top: 0;
  left: 15px;
  right: 15px;
  background-color: #282828;
  border-radius: 4px;
  padding: 2.5px 5px;
  z-index: 200;
  display: none; }
  .img-profile-list .block-img-profile .criteria-container button {
    width: 100%;
    margin: 2.5px 0; }
.img-profile-list .block-img-profile:hover .criteria-container, .img-profile-list .block-img-profile.active .criteria-container {
  display: block; }

.evaluations-summary .img-profile {
  max-width: 34px; }

/*# sourceMappingURL=lessons.css.map */
