@import "_variables";

.datetimepicker {
	margin-bottom: 15px;
	width: 100%;
	border-bottom: 1px solid #f5f5f5;

	table.table {
		thead {
			th { background-color: $theme-background; }

			tr:nth-child(2n-1) {
				th { background-color: $theme-darker-background; }
			}
		}

		td, th { border-radius: 0; }
	}
}
