@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,300,300italic);

@import "_variables";
@import "_navbar";
@import "_sidebar";

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    font-family: $font-family;
    padding-top: 60px;
    background-color: #e3e8ec;
}

a[ng-click] {
	cursor: pointer;
}

.site-body {
	height: 100%;
	width: 100%;
}

dl.spaced {
	dd {
		margin-bottom: 15px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}
dl.no-bottom-margin {
	margin-bottom: 0;
}

table.table {
	border-collapse: collapse;
	width: 100%;
	background: #fff;
	margin-bottom: 0;

	& > tbody + tbody {
		border: none;
	}

	td, th {
		padding: 0.75em 1.5em;
		color: #7c8d87;
		border: none;
	}
	th {
		background-color: #e74c3c;
		font-weight: bold;
		color: #fff;
		white-space: nowrap;
	}
	tbody {
		tr {
			&:nth-child(2n-1) {
				background-color: #f5f5f5;
				transition: all .125s ease-in-out;
			}
			&:hover {
				background-color: rgba(231, 76, 60, .3);
			}

			&.success .glyphicon { color: green; }
			&.info .glyphicon { color: dodgerblue; }
			&.warning .glyphicon { color: orange; }
			&.danger .glyphicon { color: red; }
		}

		&.vertically-aligned {
			td { vertical-align: middle; }
		}
	}
}

.img-profile {
	border: 8px solid #e74c3c;
	margin-left: 20px;
	max-width: 100%;
	max-height: 200px;
}

.img-profile-list {
	.block-img-profile {
		text-align: center;
		margin-bottom: 15px;

		span {
			display: block;
			font-size: 1.5em;
		}
		.img-profile {
			margin-left: 0;
			border: none;
			width: 100%;
			max-width: 135px;
		}
	}
}

.main {
	padding-top: 15px;
	padding-bottom: 15px;

	.page-block {
		background-color: white;
		padding: 15px;
		margin-bottom: 15px;

		h2 {
			margin-top: 0;
			margin-bottom: 15px;
		}
	}
}
