.navbar {
  background-color: #282828;
  border-bottom: none; }
  .navbar .navbar-header {
    background-color: #c0392b;
    color: #ffffff;
    text-align: center;
    padding: 15px; }
    .navbar .navbar-header .title {
      margin: 0;
      padding: 0;
      font-size: 2em;
      font-weight: lighter;
      display: inline;
      color: #ffffff; }
      .navbar .navbar-header .title strong {
        font-weight: bold; }
    .navbar .navbar-header:after {
      content: "";
      position: absolute;
      z-index: 2000;
      right: -1px;
      top: 20px;
      bottom: 20px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-right: 15px solid #282828; }
  .navbar .navbar-controls {
    padding: 20px 15px; }
    .navbar .navbar-controls .page-title {
      margin: 0;
      padding: 0;
      font-size: 1.2em;
      font-weight: bold;
      display: inline;
      color: #ffffff; }
      .navbar .navbar-controls .page-title .glyphicon {
        margin-right: 15px; }
    .navbar .navbar-controls .controls {
      color: #ffffff; }
      .navbar .navbar-controls .controls span {
        margin-left: 15px; }
      .navbar .navbar-controls .controls a {
        color: inherit; }

.sidebar {
  background-color: #282828;
  color: #ffffff;
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  z-index: 8000;
  display: block;
  overflow-x: hidden;
  overflow-y: auto; }
  .sidebar .infos-block {
    background-color: #e74c3c;
    color: #ffffff;
    padding: 10px; }
    .sidebar .infos-block .quick-evaluations .title {
      font-weight: bold;
      margin-bottom: 5px; }
    .sidebar .infos-block .quick-evaluations .glyphicon {
      margin-right: 10px; }
  .sidebar .menu {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    width: 100%;
    list-style-type: none; }
    .sidebar .menu a {
      display: block;
      width: 100%;
      color: inherit;
      padding: 15px;
      padding-left: 25px;
      position: relative; }
      .sidebar .menu a:hover, .sidebar .menu a.active {
        background-color: #1f1f1f;
        text-decoration: none; }
        .sidebar .menu a:hover span, .sidebar .menu a.active span {
          color: #c0392b; }
        .sidebar .menu a:hover:before, .sidebar .menu a.active:before {
          content: "";
          width: 4px;
          background: #c0392b;
          position: absolute;
          z-index: 2000;
          left: 0;
          top: 0;
          bottom: 0; }
      .sidebar .menu a span {
        margin-right: 15px; }
  .sidebar .notifications {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    color: #333; }
    .sidebar .notifications .header {
      display: block;
      background-color: #c0392b;
      padding: 15px;
      color: #ffffff;
      font-weight: bold;
      border: none;
      width: 100%;
      text-align: left;
      outline: none;
      box-sizing: content-box; }
      .sidebar .notifications .header:active, .sidebar .notifications .header:focus, .sidebar .notifications .header:hover {
        text-decoration: none; }
      .sidebar .notifications .header .glyphicon.collapsed {
        display: none; }
      .sidebar .notifications .header .glyphicon.expanded {
        display: inline-block; }
      .sidebar .notifications .header.collapsed .glyphicon.collapsed {
        display: inline-block; }
      .sidebar .notifications .header.collapsed .glyphicon.expanded {
        display: none; }
    .sidebar .notifications .notification {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 0.9em;
      background-color: #282828;
      color: #ffffff;
      position: relative; }
      .sidebar .notifications .notification a {
        color: #ffffff;
        text-decoration: underline; }
      .sidebar .notifications .notification .message {
        padding: 10px;
        position: relative;
        display: inline-block;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto; }
        .sidebar .notifications .notification .message:before, .sidebar .notifications .notification .message:after {
          content: "\"";
          position: absolute;
          font-size: 1.5em;
          font-style: italic; }
        .sidebar .notifications .notification .message:before {
          top: 0;
          left: 0; }
        .sidebar .notifications .notification .message:after {
          top: 0;
          right: 0; }
      .sidebar .notifications .notification .mark-as-read {
        position: absolute;
        right: 8px;
        bottom: 5px;
        display: inline-block;
        opacity: 0.3; }
        .sidebar .notifications .notification .mark-as-read span {
          display: none; }
        .sidebar .notifications .notification .mark-as-read span.glyphicon {
          display: inline-block;
          padding-left: 15px;
          padding-top: 15px; }
        .sidebar .notifications .notification .mark-as-read:hover {
          color: #3c763d;
          opacity: 1; }
          .sidebar .notifications .notification .mark-as-read:hover span {
            display: inline-block; }
          .sidebar .notifications .notification .mark-as-read:hover span.glyphicon {
            padding-left: 5px; }
      .sidebar .notifications .notification:nth-child(2n-1) {
        background-color: #1f1f1f; }

* {
  box-sizing: border-box; }

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

body {
  font-family: "Lato", Arial, sans-serif;
  padding-top: 60px;
  background-color: #e3e8ec; }

.site-body {
  height: 100%;
  width: 100%; }

dl.spaced dd {
  margin-bottom: 15px; }
  dl.spaced dd:last-of-type {
    margin-bottom: 0; }

table.table {
  border-collapse: collapse;
  width: 100%;
  background: #fff;
  margin-bottom: 0; }
  table.table > tbody + tbody {
    border: none; }
  table.table td, table.table th {
    padding: 0.75em 1.5em;
    color: #7c8d87;
    border: none; }
  table.table th {
    background-color: #e74c3c;
    font-weight: bold;
    color: #fff;
    white-space: nowrap; }
  table.table tbody tr:nth-child(2n-1) {
    background-color: #f5f5f5;
    transition: all .125s ease-in-out; }
  table.table tbody tr:hover {
    background-color: rgba(231, 76, 60, 0.3); }
  table.table tbody tr.success .glyphicon {
    color: green; }
  table.table tbody tr.info .glyphicon {
    color: dodgerblue; }
  table.table tbody tr.warning .glyphicon {
    color: orange; }
  table.table tbody tr.danger .glyphicon {
    color: red; }

.img-profile {
  border: 8px solid #e74c3c;
  margin-left: 20px;
  max-width: 100%;
  max-height: 200px; }

.img-profile-list .block-img-profile {
  text-align: center;
  margin-bottom: 15px; }
  .img-profile-list .block-img-profile span {
    display: block;
    font-size: 1.5em; }
  .img-profile-list .block-img-profile .img-profile {
    margin-left: 0;
    border: none;
    width: 100%;
    max-width: 135px; }

.main {
  padding-top: 15px;
  padding-bottom: 15px; }
  .main .page-block {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
