<div class="main">
	<div class="page-block">
		<div class="row" style="margin-bottom: 15px">
			<div class="col-md-6">
				<a ui-sref="subjects.edit({ id: subject.id })" class="btn btn-info" ng-if="accessRules.includes('subjects.update')">Modifier la matière</a>
				<a ui-sref="subjects.delete({ id: subject.id })" class="btn btn-danger" ng-if="accessRules.includes('subjects.destroy')">Supprimer la matière</a>
			</div>
			<div class="col-md-6 text-right">
				<a ui-sref="subjects.index" ng-if="accessRules.includes('subjects.index')">Voir la liste des matières <span class="glyphicon glyphicon-arrow-right"></span></a>
			</div>
		</div>

		<dl class="spaced">
			<dt>Niveau</dt>
			<dd>{{ subject.level.name }}</dd>

			<dt>Nom</dt>
			<dd>{{ subject.name }}</dd>

			<dt>Description</dt>
			<dd><em>{{ subject.description || 'Aucune description' }}</em></dd>
			
			<dt>Professeur</dt>
			<dd ng-if="subject.teacher">
				<a ui-sref="users.show({ id: subject.teacher_id })">{{ subject.teacher.firstname }} <strong>{{ subject.teacher.lastname }}</strong></a>
			</dd>
			<dd ng-if="!subject.teacher">
				<em>Cette matière n'est pas affectée à un professeur</em>
			</dd>

			<dt>Classes liées à la matière</dt>
			<dd>
				<ul>
					<li ng-repeat="student_class in subject.student_classes">
						<a ui-sref="student-classes.show({ id: student_class.id })">{{ student_class.name }}</a>
					</li>
				</ul>
			</dd>
		</dl>

	</div>
</div>
