<div class="main">
    <div class="page-block">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <a ui-sref="process.create" class="btn btn-danger" ng-if="accessRules.includes('process.create')" style="margin-bottom: 15px;">Ajouter un processus</a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th ng-if="accessRules.includes('process.edit')">Modifier</th>
                <th ng-if="accessRules.includes('process.destroy')">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="process in processes | orderBy: 'name'">
                <td>{{ process.id }}</td>
                <td>{{ process.name }}</td>
                <td>{{ process.description }}</td>

                <td ng-if="accessRules.includes('process.edit')">
                    <a ui-sref="process.edit({ id: process.id })">Modifier</a>
                </td>
                <td ng-if="accessRules.includes('process.destroy')">
                    <a ui-sref="process.delete({ id: process.id })">Supprimer</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
