<div class="main">
    <div class="page-block">
        <div class="row">
            <div class="col-md-6 col-md-offset-6 text-right">
                <a ui-sref="processes.create" class="btn btn-danger" ng-if="accessRules.includes('processes.create')" style="margin-bottom: 15px;">Ajouter un processus</a>
            </div>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <th>Description</th>
                <th ng-if="accessRules.includes('processes.show')">Voir</th>
                <th ng-if="accessRules.includes('processes.edit')">Modifier</th>
                <th ng-if="accessRules.includes('processes.destroy')">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="process in processes | orderBy: 'name'">
                <td>{{ process.id }}</td>
                <td>{{ process.name }}</td>
                <td>{{ process.description }}</td>
                <td ng-if="accessRules.includes('processes.show')">
                    <a ui-sref="processes.show({ id: process.id })">Voir</a>
                </td>
                <td ng-if="accessRules.includes('processes.edit')">
                    <a ui-sref="processes.edit({ id: process.id })">Modifier</a>
                </td>
                <td ng-if="accessRules.includes('processes.destroy')">
                    <a ui-sref="processes.delete({ id: process.id })">Supprimer</a>
                </td>
            </tr>
            <tr ng-if="processes.length == 0">
	            <td class="text-center" colspan="{{ 3 + (accessRules.includes('processes.show') ? 1 : 0) + (accessRules.includes('processes.edit') ? 1 : 0) + (accessRules.includes('processes.destroy') ? 1 : 0)}}">
		            Aucun processus à afficher
	            </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
