<div class="background-connection"></div>
<h1 class="title ng-scope" style="text-align: center;color: white;font-size: 54px;"><strong>Smart</strong>Follow</h1>
<div class="container" ng-controller="login">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" ng-submit="submit()">
      <span id="error-auth"><h4 class="error"></h4><p class="message"></p></span>
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" ng-model="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
      <input type="password" id="inputPassword" ng-model="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Se connecter</button>
    </form>
    <a href="#" class="forgot-password">
      Mot de passe oublié ?
    </a>
  </div>
</div>