<div class="container" ng-controller="Connection">
  <div class="card card-container">
    <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
    <p id="profile-name" class="profile-name-card"></p>
    <form class="form-signin" ng-submit="submit()">
      <span id="reauth-email" class="reauth-email"></span>
      <input type="email" id="inputEmail" ng-model="inputEmail" class="form-control" placeholder="Adresse e-mail" required autofocus>
      <input type="password" id="inputPassword" ng-model="inputPassword" class="form-control" placeholder="Mot de passe" required>
      <div id="remember" class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Se souvenir de moi 
        </label>
      </div>
      <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Se connecter</button>
    </form>
    <a href="#" class="forgot-password">
      Mot de passe oublié ?
    </a>
  </div>
</div>