<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
		<div class="row">
			<div class="navbar-header col-sm-3 col-md-3 col-lg-2 hidden-xs">
				<h1 class="title"><strong>Smart</strong>Follow</h1>
			</div>
			<div class="navbar-controls col-md-9 col-sm-9 col-lg-10">
				<h2 class="page-title">
					<span class="glyphicon glyphicon-adjust"></span>
					{{ pageTitle }}
				</h2>
				<div class="controls pull-right">
					<span>{{ user.firstname }} {{ user.lastname }}</span>
					<span ng-if="accessRules.includes('users.profile')"><a ui-sref="users.profile" class="glyphicon glyphicon-user"></a></span>
					<span><a href="#" ng-controller="AuthController@logout" ng-click="logout()" class="glyphicon glyphicon-off"></a></span>
				</div>
			</div>
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-2 sidebar">
			<div class="row">
				<!--
				<div class="infos-block" ng-show="showEval">
					<div class="row quick-evaluations">
						<div class="col-md-12 title">Vos évaluations de la semaine :</div>
						<div class="col-md-3 col-sm-3 col-xs-3" data-toggle="tooltip" data-placement="top"
							title="Participation"><span class="glyphicon glyphicon-star"></span> 0
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3" data-toggle="tooltip" data-placement="top" title="Bavardage">
							<span class="glyphicon glyphicon-comment"></span> 0
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3" data-toggle="tooltip" data-placement="top"
							title="Devoirs non réalisés"><span class="glyphicon glyphicon-book"></span> 0
						</div>
						<div class="col-md-3 col-sm-3 col-xs-3" data-toggle="tooltip" data-placement="top"
							title="Avertissements"><span class="glyphicon glyphicon-alert"></span> 0
						</div>
					</div>
				</div>
				-->
				<ul class="menu">
					<li ng-if="accessRules.includes('users.profile')">
						<a ui-sref="users.profile" ui-sref-active="active">
							<span class="glyphicon glyphicon-user"></span> Votre profil
						</a>
					</li>
					<li ng-if="accessRules.includes('lessons.index') || accessRules.includes('lessons.self.index')">
						<a ui-sref="planning" ui-sref-active="active">
							<span class="glyphicon glyphicon-calendar"></span> Planning
						</a>
					</li>
					<li ng-if="accessRules.includes('rooms.index')">
						<a ui-sref="rooms.index" ui-sref-active="active">
							<span class="glyphicon glyphicon-blackboard"></span> Salles
						</a>
					</li>
					<li ng-if="accessRules.includes('conversations.index')">
						<a ui-sref="messaging" ui-sref-active="active">
							<span class="glyphicon glyphicon-envelope"></span> Messagerie
						</a>
					</li>
					<li ng-if="accessRules.includes('groups.index')">
						<a ui-sref="groups.index" ui-sref-active="active">
							<span class="glyphicon glyphicon-equalizer"></span> Groupes
						</a>
					</li>
					<li ng-if="accessRules.includes('users.index')">
						<a ui-sref="users.index" ui-sref-active="active">
							<span class="glyphicon glyphicon-user"></span> Utilisateurs
						</a>
					</li>
					<li ng-if="accessRules.includes('student-classes.index')">
						<a ui-sref="student-classes" ui-sref-active="active">
							<span class="glyphicon glyphicon-erase"></span> Classes d'étudiants
						</a>
					</li>
					<li ng-if="accessRules.includes('levels.index')">
						<a ui-sref="levels" ui-sref-active="active">
							<span class="glyphicon glyphicon-option-vertical"></span> Niveaux
						</a>
					</li>
					<li ng-if="accessRules.includes('criteria.index')">
						<a ui-sref="criteria" ui-sref-active="active">
							<span class="glyphicon glyphicon-tasks"></span> Critères d'évaluation
						</a>
					</li>
					<li ng-if="accessRules.includes('alerts.index')">
						<a ui-sref="alerts" ui-sref-active="active">
							<span class="glyphicon glyphicon-alert"></span> Alertes
						</a>
					</li>
					<li ng-if="accessRules.includes('graphs.index')">
						<a ui-sref="graphs" ui-sref-active="active">
							<span class="glyphicon glyphicon-stats"></span> Graphiques
						</a>
					</li>
					<li ng-if="accessRules.includes('notifications.index') || accessRules.includes('notifications.self.index')">
						<a ui-sref="notifications" ui-sref-active="active">
							<span class="glyphicon glyphicon-send"></span> Notifications
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 col-sm-offset-3 col-md-9 col-md-offset-3 col-lg-10 col-lg-offset-2">
			<div ui-view></div>
		</div>
	</div>
</div>